<div class="container">
 <h2>Demo Form: Sku</h2>
 <form [formGroup]="myForm"
       (ngSubmit)="onSubmit(myForm.value)"
       class="jumbotron">

   <div class="form-group">
     <label for="skuInput">SKU</label>
     <input type="color"
           id="skuInput"
           placeholder="SKU"
           name="sku"
           [formControl]="myForm.controls['sku']"
           class="form-control">
   </div>
   <div class="form-group">
     <label for="anaInput">Anastasia</label>
     <input type="text"
           id="anaInput"
           placeholder="ANA"
           name="ana"
           [formControl]="myForm.controls['ana']"
           class="form-control">
   </div>
   <div class="form-group">
     <label for="dioInput">Dio</label>
     <input type="date"
           id="dioInput"
           placeholder="DIO"
           name="dio"
           [formControl]="myForm.controls['dio']"
           class="form-control">
   </div>

   <div *ngIf="!myForm.controls['sku'].valid"
         class="alert alert-danger">SKU is invalid
   </div>
   <div *ngIf="myForm.controls['sku'].hasError('required')"
         class="alert alert-danger">SKU is required
   </div>

   <div *ngIf="!myForm.controls['ana'].valid"
         class="alert alert-danger">SKU is invalid
   </div>
   <div *ngIf="myForm.controls['ana'].hasError('required')"
         class="alert alert-danger">SKU is required
   </div>

   <div *ngIf="!myForm.controls['dio'].valid"
         class="alert alert-danger">SKU is invalid
   </div>
   <div *ngIf="myForm.controls['dio'].hasError('required')"
         class="alert alert-danger">SKU is required
   </div>
   <button type="submit" class="btn btn-primary">Submit</button>


 </form>

 <div *ngIf="!myForm.valid"
 class="alert alert-danger">Form is invalid</div>
</div>

<div *ngIf="false"></div> <!-- never displayed -->
<div *ngIf="a > b"></div> <!-- displayed if a is more than b -->
<div *ngIf="str == 'yes'"></div> <!-- displayed if str is the string "yes" -->
<div *ngIf="myFunc()"></div> <!-- displayed if myFunc returns truthy -->


